/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 26/06/2017, 06:57:33 PM
    Author     : JuanCamilo
*/

/* label color */
.input-field label {
    color: #FFFFFF;
}
/* label focus color */
.input-field input[type=text]:focus + label {
    color: #FFFFFF !important;
}
/* label underline focus color */
.input-field input[type=text]:focus {
    border-bottom: 1px solid #1565c0 !important;
    box-shadow: 0 1px 0 0 #1565c0 !important;
}
/* valid color */
.input-field input[type=text].valid {
    border-bottom: 1px solid #1565c0;
    box-shadow: 0 1px 0 0 #1565c0;
}
/* invalid color */
.input-field input[type=text].invalid {
    border-bottom: 1px solid #b71c1c;
    box-shadow: 0 1px 0 0 #b71c1c;
}
/* icon prefix focus color */
.input-field .prefix.active {
    color: white;
}
.multipage-form{
    margin-top: 30px;
    height: 250px;
}
.tabs{
    margin-bottom: 30px;
}
#personal_data{
    padding: 10px;
}
.pacient-card{
/*    margin-right: 4px;
    padding: 8px;*/
}

/* label color */
.materialize-textarea + label {
    color: black !important;
}
textarea.materialize-textarea{
    background: rgba(238,238,238,120);
    color: black;
    margin-top: 15px;
}

textarea.materialize-textarea:focus:not([readonly])+label{
    color:white !important;
}

fieldset{
    border:  none;
    padding: 8px;
}
.container .row .diagnostics{
    margin-left: 20px;
    margin-right: 20px;
}
.invisible{
    display: none;
}